[workspace]
resolver = "2"

members = [
    "vhost",
    "vhost-user-backend",
]

[workspace.dependencies]
virtio-bindings = "0.2.6"
virtio-queue = "0.17.0"
vm-memory = "=0.18.0"
vmm-sys-util = "0.15.0"
